


<tr>
  <td><img class='act-img' src="/images/{{category}}.png" width="40" height="40"></td>
  <td>{{this.title}}</td>
  <td>{{this.description}}</td>
  <td>{{moment date 'LL'}}</td>
  <td>{{moment date 'LT'}}</td>
  
  
  <td><a href="home/{{this._id}}">More Info</a></td>
  
</tr>




<script>
var currentUser = JSON.parse('{{{json category}}}');
</script>