


<tr>
  <td><img class='act-img' src="/images/circle.png" width="40" height="40"></td>
  <td>{{this.title}}</td>
  <td>{{this.description}}</td>
  <td>{{this.date}}</td>
  <td><a href="home/{{this._id}}">More Info</a></td>
  
</tr>

<script>
  let category = {{this.category}};
  if (category == "run"){
    document.getElementsByClassName("act-img").src = "images/running.png";
  }


</script>