<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="/images/icon-color.png" width="30" height="30" class="d-inline-block align-top" alt="">
    FitPal
  </a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
   <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Logout</a>
      </li>
    </ul>
  </div>
</nav>
    


<h2>Activity Details:</h2>
<h5>Title: {{activity.title}}</h5>
<h5>Description: {{activity.description}}</h5>
<h5>Category: {{activity.category}}</h5>
<h5>Date: {{activity.date}}</h5>
<h5>Time: {{activity.time}}</h5>
<h5>Buddies:</h5>
<a href="/edit-activity/{{activity._id}}">EDIT</a>

