<body class="home-body">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="/images/icon-color.png" width="30" height="30" class="d-inline-block align-top" alt="">
    FitPal
  </a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
   <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Logout</a>
      </li>
    </ul>
  </div>
</nav>



<div class='row justify-content-center filter-row '>
  <div class="flex-col justify-content-center">
    <select id="filterCat" onchange="filterCat()">
      <option disabled selected>Category</option>
      <option value='all'>All</option>
      <option value='cycling'>Cycling</option>
      <option value='run'>Running</option>
      <option value='swimming'>Swimming</option>
      <option value='weightlifting'>Weightlifting</option>
      <option value='yoga'>Yoga</option>
      <option value='other'>Other</option>
      
    </select>
  </div>

  <div class='flex-col justidy-content-center'>
    <input 
        type="text" 
        id="date-picker"
        placeholder="yyyy-mm-dd"
        onchange="filterDate()">
  </div>
</div>

<div class='container table-container'>
<table class="table">
{{#each activities}}
  <tr class="content {{category}}">
    <td><img class='act-img' src="/images/{{category}}.png" width="45" height="45"></td>
    <td><h4>{{this.title}}</h4></td>
    <td><p>{{this.description}}</p></td>
    <td class="datetime">{{moment date 'll'}}</td>
    <td class="datetime">{{moment date 'LT'}}</td>
    <td><a href="home/{{this._id}}"><img src="/images/rightarrow.svg" width="20" height="20"></a></td>
  </tr>
{{/each}}
</table>
</div>



</body>

<script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
  

  

  function filterCat() {
    var filtcat = document.getElementById('filterCat').value
    const tablerows = document.querySelectorAll('tr');
    if(filtcat == 'all'){
      $("tr").show();
    }
    else{
    for (var i=0; i < tablerows.length; i++){
      if (tablerows[i].classList.contains(filtcat)){
        $(tablerows[i]).show();
      }
      else {
        $(tablerows[i]).hide();
      }
    }
    }
  }

  function filterDate() {
    var filtdate = document.getElementById('filter-date').value
    console.log(filtdate);
  }
</script>

